<!DOCTYPE html>
<html>
    <head></head>
    <body>
        {% if messages %}   
            <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}
        {% if user.is_authenticated %}
        <h1>Hello {{user}}</h1>
        <a href="mailto:{{user.email}}">{{user.email}}</a>
        <a href="/api/">View API</a>
        <a href="/logout"><button type="submit">Logout</button></a>
        {%else%}
        <h1>Login</h1>
        <form action="login" method="post">
            {% csrf_token %}
            <input type="text" name='username' placeholder="username">
            <input type="text" name='password' placeholder="password">
            <button type="Submit">Submit</button>
        </form>
        <h1>Sign-up</h1>
        <form action="signup" method="post">
            {% csrf_token %}
            <input type="text" name='username' placeholder="username">
            <input type="email" name='email' placeholder="email">
            <input type="text" name='password' placeholder="password">
            <button type="Submit">Submit</button>
        </form>
        {%endif%}
    </body>
</html>